:root{
    --color: #111111;
    --color-rose: #D85262;
    --color-white-pure: #FFF;
    --color-white-gray: #f9f9f9;
    --color-shadow: #2e2d2d75;
    --bg-color-dark-soft: #333;
    --bg-color: #E5E5E5;
    --bg-color-light: #E3E3E3;
    --color-gray: #808080;
    --font-family: Anta;    
}
html{
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--font-family);
    scroll-behavior: smooth;
}
*,
*::after,
*::before{
    box-sizing: inherit;
    margin: 0;
}
body{
    background-color: #FFF;
    color: var(--color);
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    cursor: pointer;
    text-decoration: none;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}


/* ***************VERSION-MOBILE-375px************ */
/* ***************HEADER************************** */
/* Estilos al contenedor general de todo el header */
.header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: start;
}
/* Quito del mobile el menu exclusivo para 992px en adelante */
.menu-desktop{
    display: none;
}
/* Estilos al contenedor del logo y el menu */
.header__top{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* Estilos al logo */
.header__top-logo{
    background-image: url(/assets/logo/STo.png);
    width: 9rem;
    height: 6rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/* Estilos al menu para mobile */


/* Estilos al boton */
.off-canvas-btn{
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 999;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    opacity: 0;
}
/* Estilos al label - rayita */
.off-canvas-burger{
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 998;
    width: 3rem;
    height: .6rem;
    background-color: var(--color);
    border-radius: .3rem;
    transform: rotate(0deg) translate(0, 1.2rem);
    transform-origin: top left;
    transition: transform 0.5s ease, background-color 500ms ease;
}
/* Creando rayita 1 y 2 */
.off-canvas-burger::before,
.off-canvas-burger::after{
    content: "";
    display: block;
    width: 100%;
    height: .6rem;
    background-color: var(--color);
    border-radius: .3rem;
    transition: transform 500ms ease;
}
/* Moviendo las rayitas 1 y 2 */
.off-canvas-burger::before{
    transform: rotate(0deg) translate(0, -0.9rem);
}
.off-canvas-burger::after{
    transform: rotate(0deg) translate(0, .3rem);
}
/* Elimino la rayita del centro al momento de dar click para que no estorbe al forma la equis */
.off-canvas-btn:checked + .off-canvas-burger{
    background-color: transparent;
}
/* Roto la rayita de arriba */
.off-canvas-btn:checked + .off-canvas-burger::before{
    transform: rotate(45deg) translate(0,0);
}
/* Roto la rayita de abajo */
.off-canvas-btn:checked + .off-canvas-burger::after{
    transform: rotate(-45deg) translate(.4rem, -0.5rem);
}
/* Ahora vamos con los estilos del menu */
.off-canvas-menu{
    position: fixed;
    background-color: var(--color);
    z-index: 997;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 500ms ease-in-out;
    transform: translate(0, -100%);
}
/* Estilos al contenedor */
.off-canvas-menu-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Estilos a los enlaces */
.off-canvas-link{
    border-bottom: thin solid var(--bg-color);
    padding: 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--color-white-pure);
    transition: background-color 300ms ease;
}
.off-canvas-link:first-child{
    border-top: thin solid var(--bg-color);
}
/* Color de fondo en el estado hover a los link */
.off-canvas-link:hover{
    background-color: var(--color-rose);
}
/* Movimiento del menu - hacerlo aparecer al momento del checked */
.off-canvas-btn:checked ~ .off-canvas-menu{
    transform: translate(0, 0);
}
/* Estilos al contenedor del h1 */
.header__bottom-title{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header__bottom h1{
    font-size: 2.7rem;
    font-weight: 400;
    letter-spacing: -.08rem;
    line-height: .9;
}
/* Estilos a la imagen y a los texto que van en el costado inferior izquierdo */
.hero__image{
    background-image: url(/assets/images/pexels-cadomaestro-1170412.webp);
    width: 95%;
    height: 68vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
}
/* Estilos al contenedor del texto que esta en la esquina inferior izquierda */
.hero__image-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    gap: .9rem;
    width: auto;
    height: 23vh;
    background-color: var(--color-white-pure);
    bottom: 0;
    left: .5rem;
    padding: 0 .5rem;
    border-bottom-left-radius: 2rem;
}

/* Estilos al boton */
.hero__image-text a{
    position: relative;
    display: inline-block;
    width: 9.375rem;
    color: var(--color-white-pure);
    background-color: var(--color);
    padding: .5rem 1rem;
}

/* ********************** */
/* MAIN */
/* SERVICIOS & ABOUT*/
/* Hago flexible todo el contenedor de servicios y about, que en mobile estara en columna */
.services__about{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "about-contain"
    "services-contain";
    gap: 3.5rem;
    margin-top: 1rem;
}
/* ABOUT */
/* Estilos al contenedor del about y de su contenido */
.about{
    grid-area: about-contain;
    width: 23.125rem;
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
    padding: 0 4rem 0 2rem;
}
.about h2{
    font-size: 3rem;
    letter-spacing: -.08rem;
    line-height: .9;
}
.about p{
    font-size: 1.1rem;
    line-height: 1.1;
}
.about a{
    position: relative;
    display: inline-block;
    width: 9.375rem;
    color: #FFF;
    background-color: var(--color);
    padding: .5rem 1rem;
}
/* SERVICES */
/* Hago flexible el contenedor de los servicios */
.services{
    grid-area: services-contain;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
/* Agrego los icons de los servicios y doy estilos comunes */
.service-1__icon{
    background-image: url(/assets/icons/icons_services-pixels/corazon.png);
}
.service-2__icon{
    background-image: url(/assets/icons/icons_services-pixels/gafas-de-sol.png);
}
.service-3__icon{
    background-image: url(/assets/icons/icons_services-pixels/estrella.png);
}
.service-4__icon{
    background-image: url(/assets/icons/icons_services-pixels/trueno.png);
}
.services__icon{
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/* Trabajo en el contenedor de cada servicio. */
.services article{
    background-color: var(--color-white-gray);
    width: 19.3rem;
    margin-bottom: 1.5rem;
    padding: 2rem 2.5rem 2rem 1rem;
    box-shadow: 5px 5px 10px 1px var(--color-shadow);
}

/* Titulos de los servicios */
.services h3{
    padding: 1rem 0;
}
/* Parrafos de los servicios */
.services p{
    line-height: 1.5;
    font-style: italic;
    color: var(--color-gray);
}
/* PORTFOLIO */
/* Estilos al contenedor general de todo el portafolio */
.portfolio{
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    height: 150vh;
}
.portfolio__text{
    width: 100%;
    height: 10vh;

}
.portfolio__text h2{
    font-size: 3rem;
    letter-spacing: -.08rem;
}
.portfolio__links{
    width: 100%;
    height: 140vh;
    background-color: var(--color-white-gray);
}
/* 
************** 
    PLANES
**************
*/
/* Margenes superiores e inferiores para el contenedor general */
.planes{
    text-align: center;
    margin: 3rem 0;
}
/* Estilos al contenedor del titulo ppal. */
.planes__title{
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto 1.5rem auto;
}
/* Estilos al titulo ppal. */
.planes__title h2{
    font-size: 3rem;
    letter-spacing: -.08rem;
    line-height: .95;
}

/* Estilos para el contenedor de las cards */
.planes__cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
/* Estilos para cada tarjeta */
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 20.31rem;
    height: 33rem;
    background-color: var(--color-white-gray);
    box-shadow: .3rem .3rem .6rem .06rem var(--color-shadow);
    border-radius: 1rem;
    padding: 2rem 2rem;
}
/* Estilos internos a cada tarjeta */
.card h3{
    font-size: 2rem;
}
.card p{
    color: var(--color-gray);
}
.card h2{
    font-size: 3rem;
}
.card a{
    position: relative;
    display: inline-block;
    color: var(--color-rose);
    background-color: transparent;
    border: medium solid var(--color-rose);
    width: 15.625rem;
    padding: .5rem 1rem;
}
/* Estilos al contendor ul */
.card__list{
    color: var(--color-gray);
    padding: 0 2rem;
    text-align: left;
}
/* Estilos a los items de la ul */
.card__list-items{
    position: relative;
    list-style: none;
    margin: .8rem 0;
}
/* Estilos a las vienietas de las listas. */
.card__list-items::before{
    content: "";
    position: absolute;
    background-image: url(/assets/icons/pixelated-svgrepo-com.svg);
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: -.1rem;
    left: -1.7rem;
}
/* Estilos al div que contiene el precio y el texto "mas popular" */
.card__popular{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* Estilos al texto "mas popular" */
.card__popular p{
    background-color: var(--color-rose);
    color: var(--color-white-pure);
    padding: .5ch 1ch;
    border-radius: .5rem;
}
/* Estilos particulares a la mas a destacar */
.card__best-seller{
    border: medium solid var(--color-rose);
}
/* ********************* 
    FORMULARIO
********************* */
/* Imagen. */
.form__image{
    background-image: url(/assets/images/11.webp);
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}
/* Doy estilos generales al contenedor principal. */
.container__form{
    display: flex;
    flex-direction: column;
    width: 19.37rem;
    border-radius: 1.5rem;
    overflow: hidden;
    margin: -3rem auto 2rem auto;
    gap: 2.5rem;
    z-index: 10;
    background-color: var(--color-white-gray);
    box-shadow: .3rem .3rem .6rem .06rem var(--color-shadow);
}
/* Doy estilos al contenedor de los textos - la seccion encima del form */
.form__text{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    background-color: var(--color-white-gray);
    padding: 2rem 1.8rem 0 1.5rem;
}
.form__text-first{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* Estilos al titulo de los textos de la primera parte. */
.form__text h2{
    font-size: 2.5rem;
    letter-spacing: -.08rem;
    line-height: .9;
}
/* Estilos a los parrafos de la primera parte. */
.form__text-first p{
    line-height: 1.5;
    font-size: 1.1rem;
}
/* Estilo a la linea horizontal que divide los textos */
hr{
    height: 0.18rem;
    width: 16.56rem;
    background-color: var(--color-gray);
}
/* 2DA PARTE de los textos del formulario-text */
/* Doy estilos al container del bloque que contiene address y phone. */
.form__text-last{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding-left: 1.5rem;
}
/* Estilos a los pequenios contenedores de los  */
.text__last{
    height: 3rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
/* Estilos a los "title" de los textos */
.text__last-title{
    color: var(--color);
    font-style: italic;
    font-weight: bold; 
}
/* Estilos a los subtitles. */
.text__last-subtitle{
    color: var(--color-rose);
    font-style: italic;
    font-weight: bold;  
}
/* Estilos a las anclas */
.text__last-anchor{
    color: var(--color-rose);
    font-weight: bold;
    text-decoration: underline;
}

/* FORM *********** */
/* Le doy al container general del formulario. */
.form{
    background-color: var(--bg-color-dark-soft);
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}
/* Estilos al titulo del formulario */
.form h2{
    padding: 0 3rem 1rem 2rem;
}
/* Estilos a los divs que contienen labels e inputs */
.form__field{
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
}
/* Estilos comunes que comparten los inputs y la textarea */
.form__field input{
    width: 15.62rem;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    font-family: var(--font-family);
    margin: .3rem 0;
    font-size: .9rem;
}
/* Estilos del boton. */
.buttom{
    font-family: var(--font-family);
    width: calc(22.5ch + 1ch * 2);
    padding: 1ch 0;
    margin-top: .5rem;
    background-color:var(--color-rose);
    color: var(--bg-color-light);
    border: medium solid var(--color-rose);
    border-radius: .5rem;
    font-size: 1rem;
    cursor: pointer;
}

/* 
********************* 
    FOOTER
*********************
*/
/* Le doy estilos al footer container */
.footer{
    background-color: var(--bg-color-dark-soft);
    color: var(--bg-color-light);
    text-align: center;
    height: 5rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}
/* Estilos al ancla */
.footer__link{
    color:var(--color-rose);
    padding-left: .3rem;
    text-decoration: underline;
}
/* Estilos a icon pixelado de corazon */
.footer__icon{
    background-image: url(/assets/icons/corazon.png);
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    filter: invert(1);
}


/* ****************************************************************************576px-36em****************************************************************** */
/* Small devices (landscape phones, 576px-36em and up) */
@media screen and (min-width:36em){
    /* HEADER ************ */
    /* Estilos al contenedor del contenedor de texto  */
    .hero__image-text{
        font-size: 1.1rem;
        gap: 1.1rem;
        height: 28vh;
    }
    /* Separo mas el boton de los otros titles */
    .hero__image-text-boton{
        margin: .5rem 0;
    }

    /* ********************** */
    
    /* MAIN */
    /* SERVICIOS & ABOUT*/

    /* ABOUT */
    /* Aumento el tamanio del contenedor del about */
    .about{
        width: 35rem;
    }
    /* Separo un poco mas el h2 */
    .about h2{
        line-height: 1;
    }
    /* SERVICES */
    /* Aumento el ancho de la tarjeta y los padding internos. */
    .services article{
        width: 30rem;
        padding: 2.5rem 3rem 2rem 3rem;
    }
    
    /* ************** 
          PLANES
    *****************
    */
    /* No hay cambios para los planes en 576px */

    /* 
    ********************* 
    FORMULARIO
    *********************
    */
    /* Aumento del container en donde esta la parte 1 y 2 del formulario */
    .container__form{
        width: 28.12rem;
    }
    /* Ajusto el padding derecho para bajar hacer saltar el titulo */
    .form__text{
        padding-right: 2.5rem;
    }
    /* Ancho de la linea divisoria */
    hr{
        width: 24.68rem;
    }
    
    /* FORM *********** */
    
    /* Ajusto el titulo */
    .form h2{
        padding: 0 3rem 0 3rem;
    }
    /* Aumento el ancho de los elementos internos del formulario */
    .form__field input,
    .buttom{
        width: 21.8rem;
    }
}

/* ****************************************************************************768px-36em****************************************************************** */
/* Medium devices (tablets, 768px-48em and up) */
@media screen and  (min-width:48em){
    /* HEADER */
    .header__bottom h1{
        font-size: 3rem;
    }

    /* ********************** */
    /* MAIN */
    /* SERVICIOS & ABOUT*/
    /* ABOUT */
    /* Estilos al contenedor de todo el about */
    .about{
        padding: 0 4rem;
        width: 46rem;
    }
    /* Ajuste del tamanio de las tarjetas */
    .services article{
        width: 19rem;
        height: 22rem;
        margin: 0 1rem 1.5rem 1rem;
    }
    /* Ajusto la ubicacion de las tajetas de la derecha */
    .right{
        margin-top: 5rem;
    }

    /* ************** 
    PLANES
    **************
    */
    /* No hago cambios para 768px */

    /* 
    ********************* 
        FORMULARIO
    *********************
    */
    /* Ajusto el ancho del container y lo subo mas sobre la img*/
    .container__form{
        width: 34.37rem;
        margin-top: -5rem;
    }
    /* Ajusto la ubicacion interna de la bg image */
    .form__image{
        background-position: bottom;
    }
    /* Ajusto los paddings internos del texto superior */
    .form__text{
        padding: 2rem 3rem 0 3rem;
    }
    /* Ajusto el ancho de la linea */
    hr{
        width: 28.12rem;
    }
    /* Ajusto el margen izquierdo del title. */
    .form h2{
        padding-left: 4rem;
    }
    /* Ajusto al ancho de los contenedores internos del form. */
    .form__field input,
    .buttom{
        width: 26.56rem;
    }
}



/* ****************************************************************************992px-62em****************************************************************** */
/* Large devices (desktops, 992px-62em and up) */
@media screen and  (min-width:62em){
    /* ELIMINO EL MENU DEL MOBILE */
    .menu-mobile{
        display: none;
    }
    /* Hago visible el menu para desktop */
    .menu-desktop{
        display: flex;
    }
    /* Estilos al contenedor del logo y del menu */
    .header__top{
        background-color: var(--color-white-pure);
        width: 100%;
        height: 10vh;
        padding: 0 2rem;
        align-items: start;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 999;
    }
    /* Estilos al logo */
    .header__top-logo{
        height: 5rem;
    }
    /* Estilos al contenedor del contenedor de las li de menu */
    .menu-desktop ul{
        height: 11vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

    }
    /* Estilos a las anclas del menu */
    .menu-desktop a{
        color: var(--color);
    }
    /* Estilos al contenedor del h1 */
    .header__bottom-title{
        height: 19.5vh;
    }
    .header__bottom-title h1{
        font-size: 4rem;
    }
    /* Estilos de la hero-image */
    .hero__image-text{
        width: 75%;
        height: 10vh;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        padding: 0;
    }
    
    
    
    /* ********************** */
    /* MAIN */
    /* SERVICIOS & ABOUT*/
    /* Estilos al contenedor gral del about y servicios */
    .services__about{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, auto);
        grid-template-areas: "services-contain about-contain";
        gap: 1rem;
        padding-top: 5rem;
    }
    /* Estilos al about */
    .about{
        width: 15rem;
        padding: 0;
        position: absolute;
        top: 5.5rem;
    }
    /* Estilos al container de servicios */
    .services{
        width: 41rem;
    }
    /* Estilos a cada cajita de servicios */
    .services article{
        width: 17rem;
        height: auto;
        padding: 2rem 2.5rem 2rem 1rem;
    }
    
    
    /* EL RESTO DE LOS ELEMENTOS EN 992PX, QUEDAN IGUALES HASTA AHORA */
    .portfolio{
        padding-top: 5rem;
    }
    .planes{
        padding-top: 5rem;
    }
}

/* ****************************************************************************1024px-64em****************************************************************** */
/* Media Query SOLO para animaciones (desktops, 1024-64em and up) */
@media screen and  (min-width:64em){
    /* animacion del menu de inicio */
    .menu-desktop a{
        position: relative;
    }
    .menu-desktop a::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--color-rose);
        transform: scale(0);
        transition: transform .3s;
    }
    .menu-desktop a:hover::after{
        transform: scale(1);
    }
    /* Animacion al boton del header */
    .hero__image-text-boton a{
        transform: translateZ(0);
    }
    .hero__image-text-boton a::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-rose);
        transform: scaleX(0);
        z-index: -1;
        opacity: 0;
        transition: transform .3s, opacity .3s;
    }
    .hero__image-text-boton a:hover::after{
        transform: scaleX(1);
        opacity: 1;
    }
    /* Animacion del ancla del boton de about */
    .about a{
        transform: translateZ(0);
    }
    .about a::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-rose);
        transform: scaleX(0);
        z-index: -1;
        opacity: 0;
        transition: transform .3s, opacity .3s;
    }
    .about a:hover::after{
        transform: scaleX(1);
        opacity: 1;
    }
    /* Animacion al area de servicios */
    .services article{
        transition: transform 1s ease;
    }
    .services article:hover{
        transform: scale(1.05);
    }
    /* Animacion de las cards */
    .card{
        transition: transform 400ms ease;
    }
    .card:hover{
        transform: scale(1.04);
    }
    /* Animacion del boton de la card */
    .card:hover a{
        transition: background-color .3s, color .3s;
    }
    .card:hover a{
        background-color: var(--color-rose);
        color: var(--color-white-pure);
    }
    /* Animacion de la img del form */
    .form__image{
        transition: filter 400ms ease;
    }
    .form__image:hover{
        filter: none;
    }
    .text__last-anchor{
        position: relative;
        text-decoration: none;
    }
    .text__last-anchor::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 8.5rem;
        height: 3px;
        background-color: var(--color-rose);
        transform: scale(0);
        transition: transform .3s;
    }
    .text__last-anchor:hover::after{
        transform: scale(1);
    }
    /* Animaciones al boton del form */
    .buttom{
        transition: background-color .3s, color .3s;
    }
    .buttom:hover{
        background-color: transparent;
        color: var(--color-rose);
    }
    
}


/* ****************************************************************************1200px-75em****************************************************************** */
/* Extra large devices (large desktops, 1200-75em and up) */
@media screen and  (min-width:75em){
    .hero__image-text{
        width: 65%;
        bottom: -.01rem;
    }
    .services{
        width: 45rem;
    }
    /* EL RESTO DE LOS ELEMENTOS EN 1200PX, QUEDAN IGUALES HASTA AHORA */
}

/* ****************************************************************************1440px-90em****************************************************************** */
/* - Extra large devices (large desktops, 1440-90em and up) */
@media (min-width:90em){
    .header__top{
        width: 100%;
        height: 11vh;
    }
    .header__top-logo{
        /* width: 12rem; */
        /* height: 6rem; */
    }
    .menu-desktop ul{
        gap: 2rem;
    }
    .header__bottom-title{
        width: 100%;
        height: 28vh;
    }
    .header__bottom-title h1{
        font-size: 7rem;
        /* font-weight: 400; */
        letter-spacing: -.2rem;
        line-height: .8;
    }
    .hero__image{
        height: 60vh;
    }
    .hero__image-text{
        width: 55%;
        gap: 2.5rem;
    }
    /* ********************** */
    /* MAIN */
    /* Muevo el container general del services y about. */
    .services__about{
        padding-left: 7rem;
    }
    
    /* EL RESTO DE LOS ELEMENTOS EN 992PX, QUEDAN IGUALES HASTA AHORA */

}



/* ****************************************************************************1600px-100em****************************************************************** */
/* - Extra-Extra large devices (large desktops, 1600-100em and up) */
@media (min-width:100em){
    
    /* EL RESTO DE LOS ELEMENTOS EN 1600px, QUEDAN IGUALES HASTA AHORA */
}

